html {
	font-size: 62.5%;
}

body {
	/*height: 100%;
	width: 100%;*/
	margin: 0;
	padding: 0rem 10rem;
	background: #EFEFEF url(images/main-bg.jpg) repeat;
	font-family: 'Tahoma', serif;
	color: #000000;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: lighter;
	color: #59113d;
}



h1 {
	font-size: 8rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.6rem;
}

p, ul, ol {
	margin-top: 0;
	font-size: 2rem;
}

a {
	text-decoration: none;
	color: #59113d;
}

.header {
	width: 94rem;
	height: 30rem;
	margin: 0 auto;
}

.logo {
	width: 96rem;
	height: 15rem;
	margin: 0rem auto 1rem auto;
	color: #59113d;
	text-align: center;
}

.logo h1 {
	line-height: 15rem;
	letter-spacing: -0.1rem;
	text-align: center;
	font-family: fantasy;
	font-size: 3.8rem;
}

#menu {
	border-radius: 5px;
    /*border-width: 5px;*/
	border-color: #f5f393;
	/*overflow: hidden;*/
	width: 100rem;
	height: 2.8rem;
	padding: 1.2rem 0.5rem 0.8rem 0.5rem;
	margin: 0px auto 30px auto;
	background: #59113d;
	font-size: 2rem;
	color: #f5f393;
}

#menu ul {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	height: 5rem;
	width: 14%;
	display: inline-block;
	padding: 0rem;
	margin: 0rem 1rem;
	text-align: center;

}

#menu a {
	/*display: block;*/
	height: 4rem;
	width: 100%;
	padding: 1.24rem 3rem;
	text-decoration: none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	vertical-align: center;
	font-size: 2rem;
	font-weight:400;
	font-style: bold;
	color: #f5f393;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	background-color: #AB1F43;
	color: #f5f393;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	/*font-weight:bolder;*/
}

#page {
	overflow: hidden;
	width: 94rem;
	margin: 0px auto;
	padding: 3rem 3rem;
	background: #FFFFFF;
	border: 1px solid #D4D4D4;
}

#content {
	float: left;
	width: 600px;
	padding: 10px 0px 0px 0px;
}

#three-columns {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid #D4D4D4;
	color: #59113d;
}

#three-columns h2 {
	padding: 0px 0px 20px 0px;
	font-size: 30px;
	color: #59113d;
}

#three-columns #column1 {
	float: left;
	width: 30rem;
	margin-right: 4rem;
}

#three-columns #column2 {
	float: left;
	width: 30rem;
	margin-right: 4rem;
}

#three-columns #column3 {
	float: left;
	width: 30rem;
}

.link-style {
	display: inline-block;
	border-radius: 0.5rem;
	margin-top: 1rem;
	padding: 0.5rem 1.5rem;
	background: #59113d;
	color: #FFFFFF;
}

.link-style2 {
	display: inline-block;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px 25px;
	background: #59113d;
	font-size: 20px;
	color: #FFFFFF;
}

#welcome {
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
	border-bottom: 1px solid #D4D4D4;
	color: #59113d;
}

#welcome h2 {
	padding: 0px 0px 20px 0px;
}

#welcome h2 a {
	color: #59113d;
}

#welcome a {
	color: #59113d;
}

#two-columns {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	border-bottom: 1px solid #D4D4D4;
	padding: 30px 0px;
}

#two-columns #col1 {
	float: left;
	width: 660px;
	color: #59113d;
}

#two-columns h2 {
	padding: 0px 0px 20px 0px;
	color: #59113d;
}

#two-columns .image-style {
	border: 1px solid #D4D4D4;
	margin-left: 20px;
}

.image-stylekarikaturi {
	display: block;
	padding: 3rem 1rem;
	margin-left: auto;
    margin-right: auto;
    width: 70rem;

}

.video{
	display: block;
	padding: 20px 10px;
	margin-left: auto;
    margin-right: auto
}

#two-columns .text-style {
	padding-bottom: 10px;
	border: 10px solid #000000;
	text-align: center;
	font-size: 20px;
}

#footer {
	overflow: hidden;
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	color: #59113d;
}

#footer a {
	color: #59113d;
}
