html, div, a, body, header, link, p, h1, h2, h3, {
	padding: 0px;
	margin: 0px;
	background-image: none;
	clear: both;
	display:block;
	height:0;
	width: 0;
	content:"";
	box-shadow: none;
}

.wrapper {
	width: 100%;
	display: block;
} 


div#header>div#menu {
    color:#151550 !important;
}
div#header>div#menu ul li a {
    color:#37a418 !important;
    background-color: #25258E !important;
}


html {
	font-size: 62.5%;
	width: 100%;
	height: 100%;
	padding: 0rem; 
	display: block;
	margin: 0rem;
    
	background-image: url("../images/grass2.jpg");
	background-attachment:fixed; 
}

body {
	display: block;
	width: 100%;
	height: auto;
	margin: 0%;
	padding: 0%;
	/*background: #EFEFEF url(../images/main-bg.jpg) repeat;*/
    background:linear-gradient(to bottom, rgba(72,171,266,0.9), rgba(255,255,150,0.7));
	font-family: 'Tahoma', serif;
	color: #000000;
}
/* :::::::::::  origin stuff  ::::::::*/

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: lighter;
	color: #59113d;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.6rem;
}

p, ul, ol {
	margin-top: 0%;
	font-size: 1.8rem;
}

a {
	text-decoration: none;
	color: #59113d;
}

img {
	max-width: 100%;
	height: auto;
}

/* :::::::::::::::::::::::::::::::::::*/

#header {
/* :::::::::  origin :::::::::*/
	width: 100%;
	height: 25rem;
/*::::::::::::::::::::::::::::*/
	margin: 0%;
	padding: 0%
}

/* :::::: LOGO ::::::::*/

.logo {
	width: 100%;
	height: 20rem;
	margin: 0rem;
	color: #59113d;
}

.logo h1 {
	line-height: 15rem;
	letter-spacing: -0.1rem;
	text-align: left;
	font-family: Griffy;
	color: #246d10;
	font-size: 6rem;
	margin-left: 30%;
}

.logo p {
	font-family: Black Ops One;
	font-size: 2rem;
	text-align: left;
	margin-left: 30%;
}

#menu {
	border-radius: 5px;
	border-color: #f5f393;
	width: 98%;
	height: 2.8rem;
	padding: 1.2rem 1% 0.6rem 1%;
	margin: 0px 0px 30px 0px;
	background: #59113d;
	font-size: 1.5rem;
	color: #f5f393;
}

#menu ul {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	height: 5rem;
	width: 11rem;
	display: inline-block;
	padding: 0rem;
	margin: 0%;
	text-align: left;
}

#menu a {
	height: 4rem;
	width: 100%;
	padding: 1.2rem 4%;
	margin: 2% 2%;
	text-decoration: none;
	text-align: center;
	vertical-align: center;
	font-size: 1.8rem;
	font-weight: 800;
	color: #f5f393;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	background-color: #AB1F43;
	color: #f5f393;
}

#welcome {
	width: 90%;
	margin: 0% 0%;
	padding: 5rem 5%;
	border-bottom: 1px solid #D4D4D4;
	color: #59113d;
}

#welcome h2 {
	padding: 0px 0px 20px 0px;
	color: #59113d;
}

#welcome a {
	color: #FFF;
}

#welcome li {
	margin-top: 1%;
	margin-bottom: 1%;
	padding-top: 5%; 
	border-top: 2px solid #D2D2D2;
}

#three-columns {
	overflow: hidden;
	width: 94%;
	margin: 0%;
	padding: 30px 3%;
	border-bottom: 1px solid #D4D4D4;
	color: #59113d;
}

#three-columns h2 {
	padding: 0px 0px 20px 0px;
	font-size: 30px;
	color: #59113d;
}

#three-columns #column1 {
	float: left;
	width: 49%;
	margin-right: 2%;
}

#three-columns #column2 {
	float: left;
	width: 49%;
	margin-right: 0%;
}

#three-columns #column3 {
	clear: both;
	width: 80%;
	height: 30%;
	margin-right: 0%;
}

.link-style {
	display: inline-block;
	border-radius: 0.5rem;
	margin-top: 1rem;
	padding: 0.5rem 1.5rem;
	background: #59113d;
	color: #FFFFFF;
}

.link-style2 {
	display: inline-block;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px 25px;
	background: #59113d;
	font-size: 1.8rem;
	color: #FFFFFF;
}

#video {
	width: 90%;
	height: 40rem;
	padding: 2rem 5%;
	margin-right: 0rem;
}

#two-columns {
	overflow: hidden;
	width: 94%;
	margin: 0%;
	border-bottom: 1px solid #D4D4D4;
	padding: 30px 3%;
}

#two-columns #col1 {
	float: left;
	width: 70%;
	color: #59113d;
}

#two-columns #col2 {
	float: left;
	color: #59113d;
	padding-top: 5%; 
}

#two-columns h2 {
	padding-bottom: 20px;
	color: #59113d;
}

#two-columns .image-style {
	border: 1px solid #D4D4D4;
	margin-left: 5%;
}

.image-stylekarikaturi {
	display: block;
	padding: 3rem 2%;
	margin-left: 0rem;
    margin-right: 0rem;
    width: 97%;
}

#two-columns .text-style {
	padding-bottom: 10px;
	border: 10px solid #000000;
	text-align: center;
	font-size: 20px;
}

.videoPagesLinks {
	text-align: center;
	padding: 0%;
}

.videoPagesLinks > p {
	display: inline-block;
	margin-right: 5%;
}

#footer {
	overflow: hidden;
	width: 90%;
	height: 200px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	color: #59113d;
}

#footer a {
	color: #59113d;
}

#footer div {
	width: 100%;
	margin: 1rem 40%;
}

#footer div a {
	padding-right: 1rem; 
}