body,div,article,aside,header,nav,ul,li,a,p,span,strong,em,footer,section,h1,h2,h3,h4{margin:0;padding:0;}
div,article,header,footer,ul,li,h1,h2,h3,h4,body{display:block;}

html {
	font-size: 62.5%;
	width: 100%;
	height: 100%;
	background-image: url("../images/grass2.jpg");
	background-attachment:fixed; 
	padding: 0%; 
	display: block;
}

body {
	display: block;
	width: 80%;
	height: auto;
	margin: 0% auto;
	/*background: #EFEFEF url(../images/main-bg.jpg) repeat;*/
    /*background: rgba(72,171,266,0.9);*/
    background:linear-gradient(to bottom, rgba(72,171,266,0.9), rgba(255,255,150,0.7));
	font-family: 'Tahoma', serif;
	color: #000000;
	box-shadow: 0px 0px 50px 15px #060002;
    text-align:justify;
}

.wrapper {
	width: 100%;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: lighter;
	color: rgba(0, 0, 0, 0.75);
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 1.6rem;
}

p, ul, ol {
	margin-top: 0%;
	font-size: 1.8rem;
}

a {
	text-decoration: none;
	color: #37A418;
}

#header {
	width: 100%;
	height: 25rem;
	margin: 0 auto;
}

.logo {
	width: 100%rem;
	height: 20rem;
	margin: 0rem auto 1rem auto;
	color: #59113d;
	text-align: center;
}

.logo h1 {
	line-height: 15rem;
	letter-spacing: -0.1rem;
	text-align: center;
	font-family: Griffy;
	color: #a8db15;
    text-shadow:-9px 5px 6px #151550;
	font-size: 6rem;
}

.logo p {
	font-family: Black Ops One;
	font-size: 2rem;
	color: #151550;
}

#menu {
	border-radius: 9px;
	width: 95%;
	height: 2.8rem;
	padding: 1.2rem 1% 0.8rem 1%;
	margin: 0px auto 30px auto;
	background: #151550;
	font-size: 2rem;
    box-shadow:0px 0px 40px #ff00dc;
}

#menu ul {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	height: 5rem;
	width: 14%;
	display: inline-block;
	padding: 0rem;
	margin: 0% 0.5%;
	text-align: center;

}

#menu a {
	height: 4rem;
	width: 100%;
	padding: 1.24rem 1.8rem;
	text-decoration: none;
	text-align: center;
	vertical-align: center;
	font-size: 2rem;
	font-weight: 800;
	color: #a8db15;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	background-color: #25258E;
    border-radius:9px;
    color:rgba(210, 255, 40, 0.94);
    text-shadow:0px 0px 25px #fff;
}

#three-columns {
	overflow: hidden;
	width: 94%;
	margin: 0%;
	padding: 30px 3%;
	border-bottom: 1px solid #37A418;
	color: rgba(0, 0, 0, 0.75);
}

#three-columns h2 {
	padding: 0px 0px 20px 0px;
	font-size: 30px;
}

#three-columns #column1 {
	float: left;
	width: 30%;
	margin-right: 2%;
}

#three-columns #column2 {
	float: left;
	width: 30%;
	margin-right: 2%;
}

#three-columns #column3 {
	float: left;
	width: 35%;
	height: 20%;
}

#video1 {
	width: 100%;
	height: 40rem;
	padding: 2rem 1%;
}

.link-style {
	display: inline-block;
	border-radius: 0.5rem;
	margin-top: 1rem;
	padding: 0.5rem 1.5rem;
	background: #151550;
	color: #37A418;
}

.link-style2 {
	display: inline-block;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px 25px;
	font-size: 20px;
	
}




.link-style2, .link-style {
    background: linear-gradient(to bottom,rgba(72,171,266,0.9), rgba(47, 27, 216, 0.9));
	color: #fff;
}
.link-style2:hover, .link-style:hover {
    box-shadow:0 0 30px #ff00dc;
    background: linear-gradient(to bottom,rgba(72,171,266,0.7), rgba(47, 27, 216, 0.7));
}




#welcome {
	width: 94%;
	margin: 0rem auto;
	padding: 5rem 3%;
	border-bottom: 1px solid #37A418;
	color: rgba(0, 0, 0, 0.75);
}

#welcome h2 {
	padding: 0px 0px 20px 0px;
	color: rgba(0, 0, 0, 0.75);
}

#welcome a {
	color: #fff;
}

#welcome li {
	margin-top: 1%;
	margin-bottom: 1%;
	padding-top: 5%; 
	border-top: 1px solid #37A418;
}

#welcome p {
	margin-left: 3%;
}

#video {
	width: 100%;
	height: 50rem;
	margin: 4% auto;
	padding: 2rem auto;
}

#two-columns {
	overflow: hidden;
	width: 94%;
	margin: 0%;
	border-bottom: 1px solid #37A418;
	padding: 30px 3%;
	color: rgba(0, 0, 0, 0.75);
}

#two-columns #col1 {
	float: left;
	width: 70%;
}

#two-columns #col2 {
	float: left;
	padding-top: 5%; 
}

#two-columns h2 {
	padding-bottom: 20px;
}

#two-columns .image-style {
	margin-left: 20px;
	width: 156px;
}

.image-stylekarikaturi {
	display: block;
	padding: 3rem 1rem;
	margin-left: auto;
    margin-right: auto;
    width: 70rem;

}

#two-columns .text-style {
	padding-bottom: 10px;
	border: 10px solid #000000;
	text-align: center;
	font-size: 20px;
}

.videoPagesLinks {
	margin: 0% auto;
	text-align: center;
	padding: 0px;
	color: #37A418;
}

.videoPagesLinks > p {
	display: inline-block;
	margin: 2% auto;
	color: #37A418;
}

#footer {
	overflow: hidden;
	width: 90%;
	height: 200px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	color: rgba(0, 0, 0, 0.75);
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	text-align: center;
	/*color: #151550;*/
}

#footer a {
	color: rgba(0, 0, 0, 0.75);
}

#footer div {
	width: 100%;
	margin: 1rem 40%;
}

#footer div a {
	padding-right: 1rem; 
}
