body {
	padding-top: 1rem;
}

.header {
	width: 100%;
	height: 15rem;
	margin: 0rem 0rem;
	padding: 0rem 0rem;
	display : inline;
}

/* ::::::  MENU LOGO ::::::::*/

.logo {
	width: 25rem;
	height: 15rem;
	padding-left: 0%;
	padding-right: 0rem;
	padding-top: 1rem;
	float: left;
	margin: none;
}

.logo h1 {
	line-height: 8rem;
	letter-spacing: -0.4rem;
	text-align: left;
	font-family: Jokerman;
	color: #58E454;
	font-size: 5.5rem;
	margin: 0rem;
}

.logo p {
	font-family: Goudy Stout;
	font-size: 1.5rem;
}

/* ::::::  MENU ::::::::*/

#menu {
	border-radius: none;
	border-color: #f5f393;
	width: 40%;
	height: 14rem;
	padding: 0.5rem 0rem 0rem 0rem;
	margin: 0rem;
	margin-right: 3%;
	float: right;
}

#menu ul {
	width: 40%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border-radius: none;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	height: 2rem;
	width: 30rem;
	display: inline-block;
	padding: 0.5rem 0rem 0rem 0rem;
	margin-right: 6rem;
	text-align: left;
	float: left;
}

.menu .last {
	width: 7rem;
}

#menu a {
	height: 2rem;
	width: 40%;
	padding: 0.5rem 0.5rem;
	margin: 4% 3% 3% 3%;
	text-decoration: none;
	text-align: center;
	vertical-align: center;
	font-size: 1.8rem;
	font-weight:400;
	font-style: bold;
	color: #f5f393;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	background-color: #AB1F43;
	color: #f5f393;
}


#three-columns #column1 {
	width: 100%;
}

#three-columns #column2 {
	width: 100%;
}

#three-columns #column3 {
	width: 100%;
	height: 30%;
}

#two-columns #col1 {
	clear: both;
	width: 100%;
	color: #59113d;
}

#col2 {
	display: none;
}

#welcome {
	clear: both;
	width: 96%;
	padding: 0.3rem 2%;
}
